body {
    font-family: 'Open Sans', sans-serif;
    width: 1900px;

}
.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}
#header-bar {
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header-logo{
    display: flex ;
}
#logo-head {
    padding: 22px;
}
#logo-text {
    font-size: 22px;
    align-self: center;

}
#architect {
    color: white;
}
.header-nav {
    display: flex;

    font-size: 15px;
    text-transform: uppercase;

}
.li-head {
    padding: 28px 36px;
}
.li-head:last-child {
    padding-right: 0;
}
.search-head {
    background-color: black;
    width: 68px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav a:hover{
    color: #14b9d5;
}
#logo-text a:hover{
    color: #14b9d5;
}
.background-head {
    background: url("image/header-background.png");
    height: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#head-title {
    color: white;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;

    font-size: 27px;
    height: 32px;
    width: 637px;

}
.buttons-head {
    color: white;
    padding: 16px 19px;
    display: flex;
    justify-content: center;

}
#green-button {
    background-color: #89CA62;
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    border-radius: 3px;

}
#blue-button {
    background-color: #14b9d5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 55px;
    border-radius: 3px;
}
.section-title{
    text-align: center;
    margin: 0 0 50px 0;
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
}
.popular {
    background-color: #f2f2f2;
    padding: 50px 0;
}
.list-popular {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.items-popular {
    background-color: white;
    color: #353a3d;
    margin: 15px;
    flex: 0 1 auto;
}
.photo-discrip {
    padding: 20px 0;
    text-align: center;
}
.clients {
    background: url("image/clients-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 588px;
    padding: 120px 0;
}
.title-main{
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
.sep {
    background-color: #18B4Cf;
    width: 60px;
    margin: 0 auto;
    height: 3px;
}
.list-clients {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 1fr;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.clients-logo {
    max-height: 50px;
}
.top-rated {
    padding: 50px 0;
}
.list-top {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}
.items-top {
    width: 100%;
    height: 134px;
}
#hot {
    margin-top: 48px;
}
.news {
    padding-bottom: 50px;
}
.news-title{
    font-size: 18px;
    font-weight: 700;
    color: #353A3D
}
.news-discrip {
    font-size: 14px;
    font-weight: 600;
    color: #5B6469;
    margin-top: 15px;
    line-height: 21px;
}
.news-info {
    padding: 14px;
}
.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 269px;
    align-items: stretch;
}
.news-grid-item img {
    height: 100%;
}
.news-grid-item:last-child{
    align-self: center;
    padding: 0 24px;
}
.news-list {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 296px 1fr 1fr 296px;
    gap: 35px;
}
.news-items {
    background-color: #F9F7F7;
    text-align: right;
}
.news-items img {
    width: 100%;
}
.news-a {
    grid-column: 1 / 4;
}
.news-b h3 {
    text-align: center;
    padding: 14px 0;
}
.news-c {
    grid-column: 1 / 3;
}
.news-d {
    grid-column: 3 / 5;
}
.news-e {
    grid-column: 1 / 3;
}
.news-f{
    grid-column: 3 / 5;
}
.news-g {
    grid-column: 1 / 2;
}
.news-g h3{
    text-align: center;
    padding: 14px 0;
}
.news-h {
    grid-column: 2/5;
}
.footer {
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.footer-info{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    width: 1170px;
    align-items: center;
    margin: 0 auto;
}
.footer-logo{
    display: grid;
    justify-self: end;
}
.footer-iteams img {
    vertical-align: top;
}


.new_menu{
    text-align: center ;
    background-color: #353a3d;
}
.menu_item{
    display: inline-block;
    color: lightblue;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}

.menu_item:hover{
    text-decoration: underline;
}

.arrowUp{
    position: fixed;
    right: 10px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #89CA62;


}

.arrow_hide {
    display: none;
}

.arrowUp:hover, .arrowUp:focus{
    filter: brightness(1.5);
    outline: none;
}

.arrowUp::before, .arrowUp::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.arrowUp::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px ;
    background-color: white;
}

.arrowUp::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}